/* Mi código CSS */

body {
  padding-top: 60px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

/*****************************************************************

    HEADER

/*****************************************************************/

#header {
  background-color: #222;
  border-bottom: 4px solid #ff8f00;
}

#header-logo {
  width: auto;
  height: 20px;
}

/*****************************************************************

    HOME

/*****************************************************************/

#home h1 span {
  font-weight: 300;
}

#home .card h4 {
  font-size: 1.3rem;
  margin: 0;
}

#home hr {
  margin: 1.9rem 0 2.5rem;
}

@media (max-width: 767px) {
  #home-intro {
    height: 30vh;
  }
  #home h1 {
    font-size: 1.8rem;
  }
}

/*****************************************************************

    FOOTER

/*****************************************************************/

#footer {
  border-top: 4px solid #ff8f00;
  background-color: #222;
  margin-top: 40px;
  color: #eeeeee;
  padding: 80px 0;
  font-size: 1rem;
}

#footer-logo {
  width: auto;
  height: 20px;
  margin-bottom: 15px;
}

#footer ul {
  margin: 0;
  padding: 0;
}

#footer ul li {
  list-style: none;
  margin-bottom: 6px;
}

#footer ul li a,
#footer ul li a:visited {
  color: #eeeeee;
  text-decoration: none;
}

/* Carousel */

.home-intro {
  background-size: cover;
  background-position: center center;
}

#carInner {
  border-bottom: 4px solid #ff8f00;
  height: 35vw;
}

.carousel-item {
  height: 100%;
  position: relative;
}
@media (max-width: 767px) {
  .carousel-caption {
    display: none;
  }
}

/* Ventas */

.badge {
  background-color: #ff8f00;
  border: solid 1px rgba(162, 89, 1, 0.512);
  position: absolute;
  border-radius: 3px;
  padding-top: 1px;
  padding-bottom: 2px;
  padding-right: 6px;
  padding-left: 6px;
  margin: 30px;
}

.car-buttons {
  margin-top: 15px;
}

.badge {
  background-color: #ff8f00;
  position: absolute;
  top: 16px;
  left: 13px;
}

.bi-search {
  font-weight: lighter;
  font-size: small;
  font-style: normal;
}

.comprar-button {
  background-color: rgb(99, 180, 99);
  color: white;
  border: solid 2px rgb(88, 167, 88);
  border-radius: 4px;
  height: 33px;
  width: 87px;
  font-size: small;
  margin-right: 3px;
}

.info-buttons {
  background-color: white;
  border: solid 2px rgba(140, 138, 138, 0.526);
  border-radius: 4px;
  height: 33px;
  font-size: small;
  margin-right: 3px;
}

.compartir-buttons {
  background-color: white;
  border: solid 2px rgba(140, 138, 138, 0.526);
  border-radius: 4px;
  height: 33px;
  width: 90px;
  font-size: small;
}

.card-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cardDates {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  justify-content: space-between;
  padding: 2px;
}

.main-section {
  margin-top: 30px;
}

#contenido-card {
  padding-left: 20px;
}

.card-info {
  font-size: medium;
  margin-top: 10px;
}

.car {
  border: solid 1px rgba(89, 89, 89, 0.173);
  padding: 9px;
  margin: 15px;
}

.card {
  margin-left: 15px;
  padding-bottom: 15px;
}

.audi-card {
  display: flex;
  flex-direction: row;
}

/* Filtro */

.filter-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: rgba(211, 211, 211, 0.289);
  border: solid 1px rgba(160, 158, 158, 0.145);
  padding: 10px;
}

.filter-año,
.filter-marca,
.filter-modelo,
.filter-estado,
.filter-button {
  font-weight: 700;
}

.filter-button {
  width: 95%;
}

.filter-marca,
.filter-modelo,
.filter-año,
.filter-estado {
  margin-top: 15px;
  padding-left: 5px;
}

.select-años,
.select-marcas,
.select-modelos,
.select-estados {
  border-radius: 5px;
  border: solid 1px rgba(105, 104, 104, 0.505);
  height: 35px;
  margin-left: 5px;
  padding-left: 5px;
  width: 95%;
}

.filter-button {
  color: white;
  background-color: #ff8f00;
  border: solid 1px rgb(162, 90, 1);
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 3px;
  width: 160px;
  height: 30px;
  margin-left: 5px;
}

.filter-hr {
  width: 100%;
}

/* Sobre Nosotros Section */

#aboutPhoto {
  border: solid lightgrey 1px;
}

#buttonContacto {
  border: solid lightgrey 1px;
  color: black;
  display: flex;
  align-items: center;
  gap: 5px;
}

/* Nuestro Equipo */

.greyFont {
  color: gray;
}

.peopleCardsDivs {
  border: solid lightgrey 1px;
  border-radius: 5px;
  text-align: center;
}

#cardsRowContainer {
  display: flex;
  justify-content: space-around;
}

.logoContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.card {
  border-radius: 0px;
}

.card-img-top {
  border-radius: 0px;
}

/* stars */
.subTitle-container {
  display: flex;
  font-size: medium;
}

@media only screen and (max-width: 600px) {
  .subTitle-container {
    font-size: small;
  }
  .car {
    margin: 0;
    object-fit: cover;
    width: 100vw;
  }
  .card-info {
    font-size: small;
  }
}

@media only screen and (max-width: 320px) {
  .card-title {
    font-size: large;
  }
  .subTitle-container {
    font-size: smaller;
  }
  .comprar-button {
    height: 33px;
    width: 87px;
    font-size: smaller;
    margin-right: 3px;
  }
  .info-buttons {
    height: 33px;
    width: 130px;
    font-size: smaller;
    margin-right: 3px;
  }
  .compartir-buttons {
    height: 33px;
    width: 90px;
    font-size: smaller;
  }
  .card-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

@media only screen and (max-width: 768px) {
  .card-title {
    font-size: large;
  }
  .subTitle-container {
    font-size: small;
  }
}

/* Classes:  
  peopleCards
  greyFont
  peopleCardsDivs
  ourTeamImgs
  filter-section
  main-section
  comprar-button
  info-compartir-buttons
  logoContainer 
  socialMediaLogos
  submitButton
  modalForm*/

/* ids:
  aboutPhoto
  buttonContacto
  cardsRowContainer
  car-year-price*/
